<div id="divFormularo">
<form>
    <input type="text" name="produto" [(ngModel)]="objProduto.produto" placeholder="Produto" class="form-control">
    <input type="text" name="marca" [(ngModel)]="objProduto.marca" placeholder="Marca" class="form-control">
    <input type="text" name="valor" [(ngModel)]="objProduto.valor" placeholder="Valor" class="form-control">
    
    <input type="button" *ngIf="btnVisivel" value="Cadastrar" (click)="cadastrar()" class="btn btn-primary">
    <input type="button" *ngIf="!btnVisivel" value="Alterar"  (click)="alterar()"class="btn btn-warning">
    <input type="button" *ngIf="!btnVisivel" value="Remover" (click)="remover()" class="btn btn-danger">
    <input type="button" *ngIf="!btnVisivel" value="Cancelar" (click)="cancelar()" class="btn btn-secondary">

</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Marca</th>
            <th>Valor</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of produtos; let i = index">
            <td>{{i+1}}</td>
            <td>{{p.produto}}</td>
            <td>{{p.marca}}</td>
            <td>{{p.valor}}</td>
            <td><button class="bnt bnt-success" (click)="selecionarProduto(p.id)">Selecionar</button></td>

        </tr>

    </tbody>

</table>
</div>