h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#listaVendas{
    background-color: rgb(190, 183, 183);
    margin-left: 20px;
    width: 200px;
}

#totalVendedor{
    text-align: left;
}
.teste32{
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}

form{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
}
#btnCadastrar{
    margin-top: 10px;
}

form input{
    margin-bottom: 10px;
}

#btnAlterar,
#btnCancelar{
    display: none;
}
#administrador,
#gerente,
#vendedor, 
#usuarioForm,
#formMarca,
#formProduto,
#formVendas,
#formEstatisticas{
    display: none;
}
#marcasProdutos{
    margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

.card {
    margin-bottom: 20px;
    border: none
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    ;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="button"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}
.btn-warning{
    margin-right: 10px;

}



.navbar{
    justify-content: space-between;
}

.linksEsquerda{
    display: flex;
    float: left;
}

.linksDireita{
    display: flex;
    float: right;
}



